<% provide(:title, "Home")%>

<div class="center jumbotron">
  <h1>Welcome to the User Tasks App</h1>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("task.png", alt: "Task logo")%>