<li id="task-<%= task.id %>">
  <%= link_to gravatar_for(task.user, 50), task.user %>
  <span class="user"><%= link_to task.user.name, task.user %></span>
  <span class="content"><%= task.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.  |
    <% if current_user == @user %>
        <%= link_to "delete", task, method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "delete-part"%>  |
        <%= link_to "edit", edit_task_path(task.id)%>  |
        <%= link_to "share", create_share_path(task.id)%>
    <% end %>
  </span>
</li>