<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <%if current_user == @user%>
        <section class="task_form">
            <%= form_for(@task) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="field">
                  <%= f.text_area :content %>
                </div>
                <%= f.submit "Update", class: "btn btn-primary" %>
            <% end %>
        </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.tasks.any? %>
        <h3>Tasks (<%= @user.tasks.count %>)</h3>
        <ol class="tasks">
          <%= render @tasks %>
        </ol>
        <%= will_paginate @tasks %>
    <%end%>
  </div>
</div>