<% flash.each do |message_type, message|%>
    <%case message_type%>
<%when "notice"%>
        <div class="alert alert-success"><%= notice %></div>
    <%when "alert"%>
        <div class="alert alert-danger"><%= alert %></div>
    <%end%>
<% end %>